*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color:beige;
    margin: 0;
}

 //header
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 60px;
    background:url(https://cdn.pixabay.com/photo/2020/04/03/19/02/virus-4999857_960_720.png) no-repeat center bottom fixed;
    background-size: cover;
    //text
    text-align: center;
    color: black;
    font-size: 30px;
}

.main{
    // margin-top: 16em;
    margin: 18em auto 0 auto;
    text-align: center;
    .container{
    // margin: 18em auto 0 auto;
    display: flex;
    flex-flow: wrap;
    text-align: center;
    // width: 100%;
    img{
        height: 11em;
        width: 14em;
    }
}
.services{
    margin: 0 auto;
    padding: 10px;
}
}

//footer
footer{
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 6px;
    padding-right: 10px;
    background-color: #ffc34d;
    //text
    text-align: right;
    color: black;
    font-size: 10px;
    line-height: 5px;
}

