/* COLOR PALETTE: */
  $background_color: #F5F5F5; //Background
  $primary_text: black; //Primary Text
  $primary_color: #ffc34d; //Primary color
  $primary_color_text: white; //Primary color_text
  $accent_color: #CDDC39; //Accent color
  $accent_color_text: black; //Accent color_text

/* SIZE PALETTE: */
/* HACER LO MISMO QUYE CON LOS COLORES PARA QUE SEA FÁCIL DE CAMBIAR */

/* GLOBAL */
* {
    box-sizing: border-box;
    font-family: Roboto, 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: $background_color;
    margin: 0;
}

/* LAYOUT */

/* HEADER */
header {
    position: absolute;
    top: 0;
    height: 20%;
    width: 100%;
    background: url(https://cdn.pixabay.com/photo/2020/04/03/19/02/virus-4999857_960_720.png) no-repeat center bottom fixed;
    background-size: cover;
    background-color: $primary_color;
    /* text */
    padding: 1em;
    text-align: center;
    color: $primary_text;
    font-size: 30px;
}

/* MAIN */
.main{
    // margin-top: 16em;
    margin: 18em auto 0 auto;
    text-align: center;
    .container{
    // margin: 18em auto 0 auto;
    display: flex;
    flex-flow: wrap;
    text-align: center;
    // width: 100%;
    img{
        height: 11em;
        width: 14em;
    }
}
/* SERVICES */
.services{
    margin: 0 auto;
    padding: 10px;
}
}

/* FOOTER */
footer{
    bottom: 0;
    width: 100%;
    padding: 1em;
    background-color: $primary_color;
    /* text */
    text-align: right;
    color: $primary_text;
    font-size: 0.8em;
    line-height: 1.2em;
}
